<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello world</h1>
    <p>Our expert trainers can help you learn bleeding-edge technologies, so you can gain the experience you need to be successful.</p>

    <ul>
        <li>python fullstack</li>
        <li>mernstack</li>
        <li>network engineering</li>
    </ul>
    <a href="{% url 'index2' %}">index2</a>
    <a href="{% url 'index3' %}">index3</a>
    <a href="{% url 'index4' %}">index4</a>
</body>
</html>